
main{
    margin:auto;
    width: 90%;
}

h2{
    background-color: #FF8C00;
    text-transform: uppercase;
    display: block;
}
.display-none{
    display: none;
}


.tamaño-img{
    max-width: 150px; /*Para establecerle un tamaño maximo*/
}
.btn{
    border-radius: 0.25rem;
    background-color:#FF6347; ;
    margin-bottom: 1em;
    margin-right: 0;
}
.centrado{
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.margin{ 
    margin: 2em;
}